.container {
    position: relative;
    width: 1512px;
    height: 860px;
    background: #FFFFFF;
  }
  .rectangle-6 {
    position: absolute;
    width: 675px;
    height: 208px;
    left: 793px;
    top: 130px;
    background: #DF80AC;
    border: 2px solid #000000;
    border-radius: 14px;
  }
  
  .rectangle-7 {
    position: absolute;
    width: 675px;
    height: 208px;
    left: 801px;
    top: 121px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 14px;
  }
  
  .rectangle-1 {
    position: absolute;
    width: 756px;
    height: 767px;
    left: 0px;
    top: 93px;
    background: #DF80AC;
  }
  .rectangle-2 {
    box-sizing: border-box;
    position: absolute;
    width: 673.15px;
    height: 364.88px;
    left: 793px;
    top: 387.12px; /* Ajustement de la position verticale */
    background: #DF80AC;
    border: 2px solid #000000;
    border-radius: 14px;
  }
  
  
  .line-1 {
    position: absolute;
    width: 1512px;
    height: 0px;
    left: 0px;
    top: 93px;
    border: 2px solid #000000;
  }
  
  .citation {
    position: absolute;
    width: 379px;
    height: 48px;
    left: 45px;
    top: 22px;
    font-family: 'Bison';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.045em;
    color: #000000;
    display: inline-block;
  }
  
  .quote {
    position: absolute;
    width: 616px;
    height: 130px;
    left: 836px;
    top: 146px;
    font-family: 'Bison';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.045em;
    color: #000000;
  }
  
  .michael-jordan {
    position: absolute;
    width: 175px;
    height: 31px;
    left: 1266px;
    top: 282px;
  }
  
  .date {
    position: absolute;
    width: 340px;
    height: 48px;
    left: 1127px;
    top: 22px;
    font-family: 'Bison';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.045em;
    color: #000000;
  }
  .ellipse-2 {
    box-sizing: border-box;
    position: absolute;
    width: 402px;
    height: 403px;
    left: 182px;
    top: 174px;
    background: #FFFFFF;
    border: 2px solid #000000;
  }
  
  